nav {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    background: #ffff;
    overflow: hidden;
    transition: 1s;
}

nav:hover {
    width: 280px;
    transition: 1s;
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
}
.logo img{
    width: 45px;
    height: 45px;
}